<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        lang="de">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <title>Studierende einfügen</title>
</head>
<body>
<div class="container-fluid">
  <h1>Studierende einfügen</h1>
  <hr class="border-2 border-top border-info">
  <a th:href="@{/web/v1/studenten}" class="btn btn-info" role="button">zur Übersicht</a>
  <hr class="border-2 border-top border-info">

<form th:object="${student}" th:action="@{/web/v1/studenten/insert}" method="POST"> <!--Basisobjekt holen für Weiterarbeiten, @ = Serverpfad-->
  <!--th object gültig für das gesamte formular-->
  <div class="m-md-3">
    <label for name="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" th:field="*{name}"> <!--* = auf Studentenobjekt zuzugreifen, name muss mit Datenfeld zu passen-->
    <div class="form-text" th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"></div>
  </div>

  <div class="m-md-3">
    <label for name="plz" class="form-label">Plz</label>
    <input type="text" class="form-control" id="plz" name="plz" th:field="*{plz}"> <!--* = auf Studentenobjekt zuzugreifen-->
    <div class="form-text" th:if="${#fields.hasErrors('plz')}" th:errorclass="error" th:errors="*{plz}"></div>
  </div>

  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Speichern</button>

</form>
</div>
</body>
</html>